<!-- views/partials/navbar.ejs -->
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item" role="presentation"><a href="/">Home</a></li>
            <li class="nav-item"> <h5 class="text-muted2">Dig_Sig</h5></li>
        </ul>

    </nav>
</div>